<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="mail.thgye.com.ec" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4 .mp4 .m4v" />
            <mimeMap fileExtension=".webm" mimeType="video/webm .webm" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg .ogv" />
        </staticContent>
    </system.webServer>
</configuration>
